<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular To-Do App</title>

    <!--Angular Material Style Sheets-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--To-Do Style Sheet-->
    <link rel="stylesheet" href="styles/style.css">

    <!--Angular.js Libraries-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!--Angular Material Library-->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!--AngularFire-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.2.0/angularfire.min.js"></script>

    <!--Firebase Database-->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

    <!--To-Do App-->
    <script src="app/app.js"></script>
    <!--Controller-->
    <script src="app/controllers/rootCtrl.js"></script>
    <!--Services-->
    <script src="app/services/todoService.js"></script>
    <!--Components-->
    <script src="app/components/components.js"></script>

</head>
<body ng-cloak layout="column">

<div id="sideNavContainer" ng-controller="rootCtrl as root" layout-fill layout="column">

    <md-toolbar layout="row" md-whiteframe="8" class="md-accent md-medium-tall" md-theme="add" layout-padding>

        <div layout="row" flex="20">
            <md-button ng-click="root.openLeftMenu()" flex="10">
                <md-icon md-font-set="material-icons">account_circle</md-icon>
                Login
            </md-button>
        </div>

        <!--tdForm component-->
        <td-form flex></td-form>

        <span flex="20"></span>

    </md-toolbar>

    <md-sidenav md-component-id="left" class="md-sidenav-left" layout="column" layout-align="center center">

        <div id="nav-login" layout="column" layout-align="center center" flex="80">
            <md-input-container>
                <label for="username">Username</label>
                <input type="text" id="username">
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <input type="text" id="password">
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary">
                    <md-icon md-font-set="material-icons">account_circle</md-icon>
                    Log in
                </md-button>
            </md-input-container>
        </div>

        <div id="nav-close">
            <md-button ng-click="root.openLeftMenu()">
                Close
            </md-button>
        </div>

    </md-sidenav>

    <md-content id="content-area" layout="row" layout-align="center start" flex>

        <div flex="100" layout="column" layout-padding>

            <div layout="row" layout-sm="column" layout-align="space-around center">
                <md-progress-circular md-mode="indeterminate" ng-if="root.activated" class="md-primary" md-diameter="50"></md-progress-circular>
            </div>

            <!--tdList component-->
            <td-list></td-list>

        </div>

    </md-content>



</div>
</body>
</html>