<div layout="row">
    <md-input-container class="add-form-input" flex>
        <label for="add-todo"> Add a task...</label>
        <input id="add-todo"
               type="text"
               ng-model="$ctrl.todo.task"
               ng-keyup="($event.which === 13) && $ctrl.addItem($ctrl.todo)"
               maxlength="140">
    </md-input-container>
    <md-button class="md-fab md-warn add-btn"
               ng-click="$ctrl.addItem($ctrl.todo)"
               ng-disabled="!$ctrl.user">
        <md-icon md-font-set="material-icons">note_add</md-icon>
        <md-tooltip md-direction="right">
        Add a todo
        </md-tooltip>
    </md-button>
    <md-tooltip class="input-tooltip"
                ng-if="!$ctrl.user"
                md-direction="top">
        Login to add a to-do!
    </md-tooltip>
</div>