<md-list layout="column">
    <md-list-item ng-class="{'todo-checked': todo.checked}"
                  ng-repeat="todo in lc.todos | orderBy: 'todo-checked' : true"
                  ng-init="todo.checked = false">
        <div flex="20"></div>
        <div class="todo-row" layout="row" layout-align="center end" flex>
            <md-checkbox ng-model="todo.checked" class="md-primary"></md-checkbox>
            <p flex>{{todo.task}}</p>
            <!--<md-input-container class="datepick">
            <md-datepicker placeholder="Complete by" ng-model="todo.date" md-open-on-focus></md-datepicker>
            </md-input-container>-->
            <md-button class="md-fab md-primary md-mini" ng-click="lc.setDateTodo()">
                <md-icon md-font-set="material-icons">date_range</md-icon>
                <md-tooltip md-direction="top">
                    Add/Edit Date
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-accent md-mini" ng-class="{'md-primary': todo.checked}"
                       ng-click="lc.editTodo()">
                <md-icon md-font-set="material-icons">edit</md-icon>
                <md-tooltip md-direction="top">
                    Edit To-Do
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-warn md-mini" ng-class="{'md-primary': todo.checked}"
                       ng-click="lc.deleteTodo(todo)">
                <md-icon md-font-set="material-icons">delete</md-icon>
                <md-tooltip md-direction="top">
                    Delete To-Do
                </md-tooltip>
            </md-button>
        </div>
        <md-divider ng-if="!$last"></md-divider>
        <div flex="20"></div>
    </md-list-item>
</md-list>