<md-list layout="column">

    <td-list-details ng-class="{'todo-check': todo.check}"
                     ng-repeat="todo in $ctrl.todos | orderBy: 'todo-checked' : true"
                     ng-animate="todo"
                     ng-init="todo.checked = false"
                     todo="todo"
                     on-update="$ctrl.setDateTodo(todo, date)"
                     on-edit="$ctrl.editTodo(todo, update)"
                     on-delete="$ctrl.deleteTodo(todo)"
                     md-no-ink>
    </td-list-details>

    <div layout="row" layout-align="center space-between">
        <span flex></span>
        <md-card class="text-center"
                 flex="40"
                 ng-show="$ctrl.todos.length === 0"
                 layout-padding ng-cloak>
            <div ng-if="!$ctrl.user" class="app-title">
                <h1 class="md-display-3">To-do For You</h1>
                <p class="md-caption indigo-lt-text">Powered by AngularFire & AngularMaterial</p>
                <md-divider></md-divider>
                <span class="small-spacer"></span>
                <p class="md-subhead">Please log in to create a personal to-do list.</p>
                <md-button ng-click="$ctrl.menu()"
                           class="md-primary md-raised login-btn">
                    <span>log in</span>
                </md-button>
                <md-divider></md-divider>
                <div flex>
                    <md-button class="md-accent dev-btn">
                        <a href="https://github.com/tsturtz">&nbsp;
                            <i class="fa fa-github"></i>
                            <span class="md-caption">&nbsp;&nbsp;by Taylor Sturtz&nbsp;</span>
                        </a>
                    </md-button>
                </div>
            </div>
            <div ng-if="$ctrl.user">
                <p class="md-headline">
                    Get busy and start adding some to-dos!
                </p>
                <div class="button-demo-row">
                    <md-button class="md-fab md-mini md-accent datepicker-btn"
                               ng-disabled="editDemo">
                        <md-datepicker ng-model="needThisForTooltipToWork"
                                       md-hide-icons="triangle">
                        </md-datepicker>
                        <md-tooltip md-direction="top">
                            Add/Edit Date
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-accent md-mini"
                               ng-hide="editDemo"
                               ng-click="editDemo = true">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                        <md-tooltip md-direction="top">
                            Edit To-Do
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-accent md-mini"
                               ng-show="editDemo"
                               ng-click="editDemo = false">
                        <md-icon md-font-set="material-icons">check</md-icon>
                        <md-tooltip md-direction="top">
                            Submit Edit
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary md-mini"
                               ng-disabled="editDemo">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                        <md-tooltip md-direction="top">
                            Delete To-Do
                        </md-tooltip>
                    </md-button>
                </div>
                <p class="md-subhead">
                    Once you add a task, you can edit, add a due date, delete it, or just mark it as checked (it will go to the bottom of your list).
                </p>
            </div>
        </md-card>
        <span flex></span>
    </div>

</md-list>