<md-list-item class="md-2-line">
    <div flex-gt-sm="15" flex-sm="5"></div>
    <div class="todo-row"
         layout="row"
         layout-align="center end"
         flex>
        <!--This div with the blank ng-repeat is a workaround for making the checkbox not clickable across the entire row-->
        <div class="md-checkbox-div" ng-repeat="v in [0]" flex="10">
            <md-checkbox ng-model="$ctrl.todo.check"
                         ng-change="$ctrl.edit()"
                         class="md-accent italic-text red-text checkbox-row">
            </md-checkbox>
        </div>
        <md-list-item-text flex>
            <!--Item task non-mobile & mobile-->
            <p ng-hide="editing" class="md-title task-row hide-xs">{{$ctrl.todo.task}}</p>
            <p ng-hide="editing"
               class="md-subhead task-row hide-gt-xs"
               ng-click="editing = true; focus = true; $ctrl.setDelay();">{{$ctrl.todo.task}}
            </p>
            <!--Edit task input-->
            <md-input-container ng-show="editing"
                                class="editing-input"
                                md-no-float>
                <input type="text"
                       placeholder="{{$ctrl.todo.task}}"
                       ng-model="update"
                       focus-if="focus"
                       maxlength="140">
            </md-input-container>
            <!--Date display, using Moment.js-->
            <p class="date-display md-caption md-icon-button">
                <span ng-show="$ctrl.todo.date"
                      class="grey-text">Complete by: {{$ctrl.todo.date | amDateFormat: 'll'}}</span>
                <span ng-show="!$ctrl.todo.date"
                      class="grey-text italic-text">No due date</span>
                <md-icon ng-show="$ctrl.todo.date"
                         md-font-set="material-icons"
                         ng-click="$ctrl.setDate('')"
                         class="grey-text">cancel
                    <md-tooltip md-direction="right">
                        Remove Due Date
                    </md-tooltip>
                </md-icon>
                <md-icon ng-show="!$ctrl.todo.date"
                         md-font-set="material-icons"
                         ng-click="todo.openDatepicker = true"
                         class="grey-text"
                         hide-xs>add_circle
                    <md-tooltip md-direction="right">
                        Add Due Date
                    </md-tooltip>
                </md-icon>
                <!--Datepicker mobile adjustment-->
                <md-icon ng-show="!$ctrl.todo.date"
                         md-font-set="material-icons"
                         ng-click="todo.openDatepickerMobile = true"
                         class="grey-text"
                         hide-gt-xs>add_circle
                    <md-tooltip md-direction="right">
                        Add Due Date
                    </md-tooltip>
                </md-icon>
            </p>
        </md-list-item-text>
        <!--List item options-->
        <div class="button-row hide-xs">
            <md-button class="md-fab md-mini md-primary datepicker-btn"
                       ng-disabled="editing">
                <md-datepicker ng-model="todoDate"
                               md-hide-icons="triangle"
                               ng-blur="$ctrl.setDate(todoDate)"
                               md-is-open="todo.openDatepicker"
                               md-min-date="$ctrl.todaysDate">
                </md-datepicker>
                <md-tooltip md-direction="top">
                    Add/Edit Date
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-primary md-mini"
                       ng-hide="editing"
                       ng-click="editing = true; focus = true;">
                <md-icon md-font-set="material-icons">edit</md-icon>
                <md-tooltip md-direction="top">
                    Edit To-Do
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-primary md-mini"
                       ng-show="editing"
                       ng-click="$ctrl.edit(update); editing = false; focus = false;">
                <md-icon md-font-set="material-icons">check</md-icon>
                <md-tooltip md-direction="top">
                    Confirm Edit
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-accent md-mini"
                       ng-disabled="editing"
                       ng-click="$ctrl.delete($event)">
                <md-icon md-font-set="material-icons">delete</md-icon>
                <md-tooltip md-direction="top">
                    Delete To-Do
                </md-tooltip>
            </md-button>
        </div>
        <span flex="15" hide-gt-xs></span>
        <!--List item options // md-fab-speed-dial for mobile-->
        <div class="button-row-sm hide-gt-xs">
            <!--Confirm edit button that shows after edit button in speed dial is clicked-->
            <md-button class="md-fab md-primary md-mini"
                       ng-show="$ctrl.delayed"
                       ng-click="$ctrl.edit(update); editing = false; focus = false; $ctrl.delayed = false;"
                       hide-gt-xs>
                <md-icon md-font-set="material-icons">check</md-icon>
                <md-tooltip md-direction="top">
                    Confirm Edit
                </md-tooltip>
            </md-button>
            <md-fab-speed-dial md-direction="left" class="md-fling" ng-hide="editing" ng-cloak>
                <!--Speed dial trigger button-->
                <md-fab-trigger>
                    <md-button class="md-fab md-mini md-primary">
                        <md-icon md-font-set="material-icons">more_horiz</md-icon>
                    </md-button>
                </md-fab-trigger>
                <!--Option buttons that fling out from trigger button-->
                <md-fab-actions>
                    <md-button class="md-fab md-accent md-mini"
                               ng-disabled="editing"
                               ng-click="$ctrl.delete($event)">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                        <md-tooltip md-direction="top">
                            Delete To-Do
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary md-mini"
                               ng-disabled="editing"
                               ng-click="editing = true; focus = true; $ctrl.setDelay()">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                        <md-tooltip md-direction="top">
                            Edit To-Do
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary datepicker-btn"
                               ng-disabled="editing">
                        <md-datepicker ng-model="todoDate"
                                       md-hide-icons="triangle"
                                       ng-blur="$ctrl.setDate(todoDate)"
                                       md-is-open="todo.openDatepickerMobile"
                                       md-min-date="$ctrl.todaysDate">
                        </md-datepicker>
                        <md-tooltip md-direction="top">
                            Add/Edit Date
                        </md-tooltip>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>
    <div flex-gt-sm="15" flex-sm="5"></div>
</md-list-item>
<md-divider></md-divider>
