
md-input-container .md-errors-spacer {
    min-height: 0 !important;
}

md-tooltip .md-content {
    position: relative;
    opacity: 1;
    color: black;
}

.datepick {
    margin: 0 !important;
}

.todo-checked {
    background-color: rgba(0,0,0,.1);
}

.todo-checked p {
    /*text-decoration: line-through;*/
    font-style: italic;
    color: rgb(92,107,192);
}